<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a href="{{path("post.create")}}" class="btn btn-primary">Add new post</a>
		</li>
	</ul>
</nav>
